<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('response', function(msg) {
                $('#log').append("<br>" + msg.data);
            });
            $('form#mission').submit(function(event) {
                socket.emit('_test_mission');
                return false;
            });
            $('form#emergency_land').submit(function(event) {
                socket.emit('force_land');
                return false;
            });
        });
    </script>
</head>
<>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <form id="mission" method="GET" action='#'>
        <input type="submit" value="Test Mission">
    </form>
    <br>
    <form id="emergency_land" method="GET" action='#'>
        <input type="submit" value="EMERGENCY LAND">
    </form>
    <h2>Receive:</h2>
    <div style="height:500px;width:900px;border:3px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
        <p id="log"></p>
    </div>
</body>
</html>